.title {
    text-align: center;
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: bold;
}

.container {
    display: flex;
    height: 100vh;
}

.textbox-container {
    flex: 1;
    padding: 20px;
}

.sidebar {
    width: 500px;
    background-color: #f1f1f1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar-content {
    flex-grow: 1;
    overflow-y: auto;
}

textarea {
    width: 100%;
    height: 100%;
    resize: none;
    font-size: 16px;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: blue;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: darkblue;
}

ul {
    list-style-type: none;
    padding: 0;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.modal-content label {
    display: block;
    margin-bottom: 10px;
}

.modal-content input[type="checkbox"] {
    margin-right: 5px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


/* Dark mode styles */
.dark-mode .title {
    color: #fff;
}

body.dark-mode {
    background-color: #222;
    color: #fff;
}

.dark-mode .sidebar {
    background-color: #333;
}

.dark-mode textarea {
    background-color: #444;
    color: #fff;
}

.dark-mode button {
    background-color: #555;
    color: #fff;
}

.dark-mode button:hover {
    background-color: #777;
}

.dark-mode .modal-content {
    background-color: #333;
    color: #fff;
}

.dark-mode .close {
    color: #fff;
}

.dark-mode .close:hover,
.dark-mode .close:focus {
    color: #aaa;
}

.checkbox-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

.checkbox-container label {
    display: flex;
    align-items: center;
}

.checkbox-container input[type="checkbox"] {
    margin-right: 5px;
}